@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    box-sizing: border-box;
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 30px 0px;
    position: relative;

}

.logo_img {
    width: 50px;
    height: auto;
    margin-left: 15px;
    border-radius: 15px;
}

.pages {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
 
}

.items {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #1a1b1f;
    margin: 17px;
    opacity: .6;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    transition: 0.25s;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.items:hover {
    background-color: #0e0e0e;
    color: #f4f4f4;
}



.contact {
    font-family: Montserrat, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 30px;
}

.toggle {
    display: none;
}

.toggle-checkbox {
    display: none;
}

.intro-header {
    color: #fff;
    background-color: #f4f4f4;
    background-image: url(./assets/intro-header.jpg);
    background-position: center center; /* Centre l'image */
    background-size: cover; /* Assure que l'image couvre toute la div */
    height: 100vh; /* Hauteur exacte de la fenêtre */
    width: 100vw; /* Largeur exacte de la fenêtre */
    display: flex; /* Pour centrer les éléments */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    margin: 0; /* Supprime tout espace extérieur */
    padding: 0; /* Supprime tout espace intérieur */
    overflow: hidden; /* Évite tout débordement */
    box-sizing: border-box; /* Inclut les bordures et le padding */
}

.intro-content.cc-homepage {
    width: 100%;
    margin-bottom: 20px;
}

.intro-content {
    text-align: center;
    width: 70%;
    max-width: 1140px;
}


.heading-jumbo {
    text-transform: none;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Droid Sans, sans-serif;
    font-size: 64px;
    line-height: 80px;
}


.paragraph-bigger.cc-bigger-white-light {
    opacity: .6;
}    

.paragraph-bigger {
    opacity: 1;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Ajoute une ombre au texte */
}


.button.cc-jumbo-button.cc-jumbo-white {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
}

.button.cc-jumbo-button {
    padding: 16px 35px;
    font-size: 14px;
    line-height: 26px;
}


.button {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    border-radius: 20px;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    transition: background-color .4s, opacity .4s, color .4s;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}






/* Media Queries pour les écrans de petite taille */
@media (max-width: 985px) {
    .navbar {
        align-items: center;
        padding: 20px;
    }

    .about-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "text"
            "image";
        text-align: center;
    }

    .about-grid img {
        width: 100%; /* Réduire la taille de l'image */
    }

    .pages {
        display: flex;
        flex-direction: column;
        width: 100%; /* Assurez-vous que la largeur est définie */
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transform: translateX(-100%); /* Commence hors de l'écran à gauche */
        transition: transform 0.3s ease-out;
    }
    
    .pages.active {
        transform: translateX(0); /* Glisse vers la position visible */
    }

    #checkbox {
        display: none;
      }
      
      .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .3s;
        margin-right: 50px;
      }
      
      .bars {
        width: 100%;
        height: 4px;
        background-color: #0e0e0e;
        border-radius: 5px;
        transition-duration: .3s;
      }
      
      /* #checkbox:checked + .toggle .bars {
        margin-left: 13px;
      } */
      
      #checkbox:checked + .toggle #bar2 {
        transform: translateY(14px) rotate(60deg);
        margin-left: 0;
        transform-origin: right;
        transition-duration: .3s;
        z-index: 2;
      }
      
      #checkbox:checked + .toggle #bar1 {
        transform: translateY(28px) rotate(-60deg);
        transition-duration: .3s;
        transform-origin: left;
        z-index: 1;
      }
      
      #checkbox:checked + .toggle {
        transform: rotate(-90deg);
      }

    .contactus {
        display: none;
    }

    .intro-header {
        height: calc(100vh - 100px);
        padding: 20px;

    }
}


@media (max-width: 768px) {
    .intro-header {
        height: 100vh; /* Garde la hauteur de la fenêtre sur mobile */
        width: 100vw; /* Garde la largeur de la fenêtre sur mobile */
    }
}

/* Media Queries pour les écrans de petite taille */
@media (max-width: 991px) {
    .intro-header {
        width: 100%; /* Prendre toute la largeur */
        height: calc(100vh - 100px); /* Prendre toute la hauteur de l'écran */
        margin: 0; /* Supprimer les marges si nécessaire */
        padding: 0; /* Supprimer les rembourrages si nécessaire */
        box-sizing: border-box; /* Assurer que la largeur inclut les bordures et le rembourrage */
    }
}









































